# Developer : 
# @name : Onjon Shahadat Hossain
# @Version : 1.0.1
# @Release : May, 2015

# TURN ON THE REWRITE ENGINE
RewriteEngine On 

# ERROR LIST
ErrorDocument 404 "404 | Requested page not found !"

# SET URL
RewriteRule    ^api/find-city-country/([A-Za-z0-9-.]+)/([A-Za-z0-9-.]+)//?$ location.php?lat=$1&&lng=$2    [NC,L]
